/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/coverage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.ymlgit
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
