@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/helpers/_all.sass";

$spacing-values: (
    "0": 0,
    "1": 1rem,
    "2": 1.5rem,
    "3": 2.25rem,
    "4": 3rem,
    "5": 3.75rem,
    "6": 4.5rem,
    "auto": auto,
) !default;

@mixin spacing-utilities($suffix: "") {
    .is-marginless#{$suffix} {
        margin: 0 !important;
    }

    .is-paddingless#{$suffix} {
        padding: 0 !important;
    }

    @each $property, $shortcut in $spacing-shortcuts {
        @each $name, $value in $spacing-values {
            // All directions
            .#{$shortcut}-#{$name}#{$suffix} {
                #{$property}: $value !important;
            }
            // Cardinal directions
            @each $direction, $suffix in $spacing-directions {
                .#{$shortcut}#{$suffix}-#{$name}#{$suffix} {
                    #{$property}-#{$direction}: $value !important;
                }
            }
            // Horizontal axis
            @if $spacing-horizontal != null {
                .#{$shortcut}#{$spacing-horizontal}-#{$name}#{$suffix} {
                    #{$property}-left: $value !important;
                    #{$property}-right: $value !important;
                }
            }
            // Vertical axis
            @if $spacing-vertical != null {
                .#{$shortcut}#{$spacing-vertical}-#{$name}#{$suffix} {
                    #{$property}-top: $value !important;
                    #{$property}-bottom: $value !important;
                }
            }
        }
    }
}

@include mobile {
    @include spacing-utilities("-mobile");
}

@include tablet {
    @include spacing-utilities("-tablet");
}

@include touch {
    @include spacing-utilities("-touch");
}

@include desktop {
    @include spacing-utilities("-desktop");
}

@include widescreen {
    @include spacing-utilities("-widescreen");
}

@include fullhd {
    @include spacing-utilities("-fullhd");
}

@include tablet-only {
    @include spacing-utilities("-tablet-only");
}

@include desktop-only {
    @include spacing-utilities("-desktop-only");
}

@include widescreen-only {
    @include spacing-utilities("-widescreen-only");
}
